# Import Modules

In [57]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import numpy as np
import pandas as pd
import math

# Pset 13 on page 41
## Define paramters as np array

In [5]:
cashFlow = np.array([50,57,75,80,85,92,92,80,68,50])

In [12]:
intRate = np.repeat(1.12,len(cashFlow))
yearArr = np.arange(1,len(cashFlow)+1)
ones = np.ones(len(cashFlow))
np.divide(ones,yearArr)

array([1.        , 0.5       , 0.33333333, 0.25      , 0.2       ,
       0.16666667, 0.14285714, 0.125     , 0.11111111, 0.1       ])

## Calc DF

In [18]:
DFArr = np.divide(1,np.power(intRate,yearArr))

## Multiply Discount Factor and get Sum

In [21]:
pset1 = np.sum(np.multiply(cashFlow,DFArr))*1000-380000

# 17. Perpetuities*
 An investment costs $1,548 and pays $138 in perpetuity. If the interest rate is 9%, what is the NPV?

In [23]:
r = 0.09
c = 138
c0 = -1548
pv = c0+c/r
pset2 = pv

# 21. Discount factors and annuity factors*

## a. If the one-year discount factor is .905, what is the one-year interest rate?

In [4]:
DF = 0.905
r_a = 1/DF - 1

## b. If the two-year interest rate is 10.5%, what is the two-year discount factor?

In [5]:
DF_b = 1/(pow(1.105,2))

## c. Given these one- and two-year discount factors, calculate the two-year annuity factor.

In [6]:
two_annuity_factor = 0.905 + DF_b

## d. If the PV of $10 a year for three years is $24.65, what is the three-year annuity factor?

In [7]:
annuity_three = 24.65/10

## e. From your answers to parts (c) and (d), calculate the three-year discount factor.

In [9]:
three_year_DF = annuity_three - two_annuity_factor

# 22. Annuities*
Kangaroo Autos is offering free credit on a new $10,000 car. You pay $1,000
down and then $300 a month for the next 30 months. Turtle Motors next door does not offer
free credit but will give you $1,000 off the list price. If the rate of interest is .83% a month,
which company is offering the better deal?

In [31]:
r = 0.0083
PV_kang = 1000 + 300/r*(1 - 1/pow(1+r,30))
PV_kang = round(PV_kang,2)
PV_turtle = 10000 - 1000
result = "Kangaroo" if PV_kang < PV_turtle else "Turtle"
print("Present value of kangaroo is $%s and Present value of Turtle is $%s" %(PV_kang,PV_turtle))
print("%s is better choice"%result)

Present value of kangaroo is $8938.02 and Present value of Turtle is $9000
Kangaroo is better choice

# 31. Amortizing loans*
A bank loan requires you to pay $70,000 at the end of each of the next
eight years. The interest rate is 8%.

## a. What is the present value of these payments?

In [33]:
PV = 70000*(1/0.08-1/(0.08*(pow(1.08,8))))
PV

402264.7260607712

## b. Calculate for each year the loan balance that remains outstanding, the interest payment on the loan, and the reduction in the loan balance.

In [56]:
resultList = [["Year", "Begging Year Balance", "Total Year-end Payment", "Interest", "Amortization", "End of Year Balance"]]
beginBalance = 402.265 
for i in range(1,9):   
    subResult = []
    payment = 70
    interest = beginBalance * 0.08
    interest = round(interest,2)
    amortization = -interest + payment
    amortization = round(amortization,2)
    endBalance = beginBalance - amortization
    endBalance = round(endBalance,2)
    resultList.append([i,beginBalance, payment, interest, amortization, endBalance])

    beginBalance = endBalance
df = pd.DataFrame(resultList[1:],columns=resultList[0])

,Year,Begging Year Balance,Total Year-end Payment,Interest,Amortization,End of Year Balance
0,1,402.265,70,32.18,37.82,364.44
1,2,364.440,70,29.16,40.84,323.60
2,3,323.600,70,25.89,44.11,279.49
3,4,279.490,70,22.36,47.64,231.85
4,5,231.850,70,18.55,51.45,180.40
5,6,180.400,70,14.43,55.57,124.83
6,7,124.830,70,9.99,60.01,64.82
7,8,64.820,70,5.19,64.81,0.01

# 39. Compounding intervals* Which would you prefer?
Work out the value of each of these investments after 1, 5, and 20 years.

## a. An investment paying interest of 12% compounded annually.

## b. An investment paying interest of 11.7% compounded semiannually.

## c. An investment paying 11.5% compounded continuously.

In [75]:

resultList = [["1 Year","5 Year", "20 Year"]]
a1 = 1.12
a2 = pow(1.12,5)
a3 = pow(1.12,20)
resultList.append([a1,a2,a3])
b1 = pow((1+0.117/2),2)
b2 = pow(b1,5)
b3 = pow(b1,20)
resultList.append([b1,b2,b3])
c1 = math.exp(0.115)
c2 = math.exp(0.115*5)
c3 = math.exp(0.115*20)
resultList.append([c1,c2,c3])
df = pd.DataFrame(resultList[1:],columns=resultList[0])
df = df.round(4)
df

   1 Year  5 Year  20 Year
0   1.120   1.762    9.646
1   1.120   1.766    9.719
2   1.122   1.777    9.974